<header class="site-header">

  <div class="wrapper">

    <nav class="site-nav">

      <div class="trigger">
        <!-- {{ site.title }} instead of blog -->
        <a class="page-link" href="{{ site.baseurl }}/">Home</a>

        <a class="page-link" href="/Education/">Education</a>
        <a class="page-link" href="/Research/">Research</a>
        <a class="page-link" href="/Experience/">Professional Experience</a>
        <a class="page-link" href="/Journal-Club/">Journal Club</a>

      </div>
    </nav>

  </div>

</header>
